{
  "singleQuote": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true
}
